<nav class="black social-nav">
    <div class="nav-wrapper">
        <ul class="left">
            <li><a href="facebook.com.co"><i class="fab fa-facebook"></i></a></li>
            <li><a href="twitter.com.co"><i class="fab fa-twitter"></i></a></li>
            <li><a href="youtube.com.co"><i class="fab fa-youtube"></i></a></li>
            <li><a href="instagram.com.co" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn-small grey darken-3">Registro</a></li>
            <li><a class="waves-effect waves-light btn-small red darken-4">Iniciar Sesión</a></li>
        </ul>

        <ul class="right hide-on-large-only">
            <li><a class="waves-effect waves-light btn-small grey darken-3 btn-floating"><i class="material-icons">person_add</i></a></li>
            <li><a class="waves-effect waves-light btn-small red darken-4 btn-floating"><i class="material-icons">person</i></a></li>
        </ul>
    </div>
</nav>