<div class="row white">

    <div class="col s12">
        <h4 class="center-align">Cartelera semanal</h4>
    </div>

    <div class="row">
        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/BatmanVSSuperman.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    BatmanVSSuperman
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>

        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/cowboys_aliens.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    Cowboys Aliens
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>

        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/gernika.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    Gernika
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>

        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/guardians-galaxy.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    Guardianes de la galaxia
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>

        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/wonder_woman.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    Mujer Maravilla
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>

        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/pacific-rim.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    Pacific rim
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>


    </div>



</div>