<div class="row white">

    <div class="col s12">
        <h4 class="center-align">Próximos Estrenos</h4>
    </div>

    <div class="row">
        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/RogueOneP.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    RogueOneP
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>

        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/stars.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    Stars
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>

        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/the_mummy.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    The Mummy
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>

        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/what_if.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    What If
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>

        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/mostruos_vs_alienigenas.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    Mostruos vs Alienigenas
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>

        <div class="col s12 m2 l2 card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/posters/venom.jpg">
            </div>

            <div class="card-content">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-bookmark"></i></a>
                <a href="#"><i class="fas fa-language"></i></a>
                <a href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="card-reveal">
                <span class="card-title black-text">
                    Venom
                    <i class="material-icons">close</i>
                </span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

            </div>
        </div>


    </div>



</div>