<div class="row  blue-grey lighten-4 filter">

    <h6 class="left-aling"><strong>Compra tus entradas online</strong></h6>

    <div class="input-field col s12 m3 l3">
        <select>
            <option value="" selected>Fecha</option>
            <option value="">1,2,3</option>
            <option value="">1,2,3</option>
            <option value="">1,2,3</option>
        </select>
    </div>
    <div class="input-field col s12 m3 l3">
        <select>
            <option value="" selected>Película</option>
            <option value="">1,2,3</option>
            <option value="">1,2,3</option>
            <option value="">1,2,3</option>
        </select>
    </div>
    <div class="input-field col s12 m3 l3">
        <select>
            <option value="" selected>Formato</option>
            <option value="">1,2,3</option>
            <option value="">1,2,3</option>
            <option value="">1,2,3</option>
        </select>
    </div>
    <div class="input-field col s12 m3 l3">
        <select>
            <option value="" selected>Hora</option>
            <option value="">1,2,3</option>
            <option value="">1,2,3</option>
            <option value="">1,2,3</option>
        </select>
    </div>
</div>