<div class="carousel white">
    <a href="#" class="carousel-item"><img src="../../../assets/promociones/1.png"></a>
    <a href="#" class="carousel-item"><img src="../../../assets/promociones/2.jpeg"></a>
    <a href="#" class="carousel-item"><img src="../../../assets/promociones/3.jpg"></a>
    <a href="#" class="carousel-item"><img src="../../../assets/promociones/4.png"></a>
    <a href="#" class="carousel-item"><img src="../../../assets/promociones/5.jpg"></a>
    <a href="#" class="carousel-item"><img src="../../../assets/promociones/6.jpg"></a>
    <a href="#" class="carousel-item"><img src="../../../assets/promociones/7.jpg"></a>
    <a href="#" class="carousel-item"><img src="../../../assets/promociones/8.jpg"></a>
</div>