/* You can add global styles to this file, and also import other style files */
.brand-logo{
    padding: 5px !important;
    //margin-left: 200px;
}
.social-nav{
    height: 40px;
    line-height: 37px;
}
.social-nav i {
    height: 40px !important;
    line-height: 37px !important;
}
.dropdown-content li>a,
.dropdown-content li>span{
    color: #fff;
    background-color: #b71c1c !important;
    border-bottom: solid 1px white;
}
.container{
    width: 85% !important;
    background-color: black !important;
}
.filter{
    padding: 10px 55px;
}
.row{
    margin-bottom: 0;
}
.card-content a{
    font-size: 20px;
    padding-left: 5px;
}
.card-content .fa-heart{
    color: palevioletred;
}
.card-content .fa-youtube{
    color: red;
}
.card-content .fa-bookmark{
    color: orange;
}
.card-content .fa-share-alt{
    color: green;
}
